<div class="wrapper">
  <!--content-->
  <div class="content" id="content">

    <div class="webgl-content">
      <div id="gameContainer" style="width: 850px; height: 600px"></div>
      <div align="center">
        <div class="webgl-logo"></div>
        <div class="fullscreen" onclick="gameInstance.SetFullscreen(1)"></div>

        <br/>
        <!--<input id="anim_url" autocomplete="on" type="text" placeholder="animation url" value="http://35.197.25.101:8080/JSONAnimations/aim_pistol.json">-->

      </div>
    </div>
  </div>
</div>
<div class="content">
</div>
