<div class="ter-gen1" *ngIf="!isGenerate">
  <div class="col-md-11">
    <h3 class="text-center">Terrain creator</h3>
    <section class="items clearfix">
      <div class="col-md-3" *ngFor="let item of terrains">
        <div class="item">
          <img [src]="item" alt="">
          <div class="overlay">
            <div class="item-row">
              <button>
                <i class="fa fa-play" aria-hidden="true" (click)="openImage(item)"></i>
              </button>
            </div>
            <div class="item-row action-btn">
              <button (click)="addToLibrary(item)">Add to library</button>
              <button>Add to game</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div id="modalThree" class="modal">
      <div id="content" class="modal-content">
          <span id="modalClose" class="close">&times;</span>
          <div id="container"></div>
      </div>
    </div>
  </div>
  <div class="col-md-1">
    <div class="full-btn" (click)="nextTerGan()">
      <a><i class="fa fa-play fa-rotate-180"></i></a>
    </div>
  </div>
</div>
<div class="ter-gen2" *ngIf="isGenerate">
  <div class="col-md-1 right-arrow">
    <div class="full-btn" (click)="nextTerGan()">
      <span>Generation</span>
      <a><i class="fa fa-play"></i></a>
    </div>
  </div>
  <div class="col-md-11">
    <div class="ter-gen2">
      <h3 class="text-center">Original Selections</h3>
      <section class="items clearfix" id="gen2-images">
        <div class="col-md-3" *ngFor="let terrain of userTerrains | async; let i = index">
          <div class="item" (click)="selectImg($event)">
           <label [for]="i">
              <i class="fa fa-check-circle-o fa-inverse" style="display: none;" aria-hidden="true"></i>
            <img [src] ="terrain" alt="">
            <div class="overlay">
              <div class="item-row">
                <button style="position: absolute;left: 0;display:none">
                  <input class="imageSelection" [id]="i" type="checkbox" value="">
                </button>
                <button>
                  <i class="fa fa-play" aria-hidden="true" (click)="openImage(terrain)"></i>
                </button>
              </div>
            </div>
           </label>
          </div>
        </div>
      </section>
      <div id="modalThree" class="modal">
        <div id="content" class="modal-content">
          <span id="modalClose" class="close">&times;</span>
          <div id="container"></div>
        </div>
      </div>

      <h3 class="text-center new-gen-head">
        <span>New Generations</span>
        <i class="fa fa-sort fa-inverse" aria-hidden="true"></i>
      </h3>
      <section class="new-generations-accordion">
        <div class="panel-group" id="accordion">
          <div class="panel panel-default"  *ngFor="let obj of receivedData; let i = index">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ i + 1 }}" (click)="isOpenAccord()">
                  Generation {{ i + 1 }}</a>
                <span class="accordion-arrow" *ngIf="isOpen">▼</span>
                <span class="accordion-arrow" *ngIf="!isOpen">▲</span>
              </h4>
            </div>
            <div id="collapse{{ i + 1 }}" class="panel-collapse collapse">
              <div class="panel-body clearfix">
                <div class="col-md-3" *ngFor="let receivedImg of obj.receivedImages">
                  <div class="item">
                   <div class="rotate">
                    <img [src] ="receivedImg" alt="" (error)="errorImage($event)" (load)="imageLoaded($event)"></div>
                    <div class="overlay">
                      <div class="item-row">
                        <button>
                          <i class="fa fa-play" aria-hidden="true" (click)="openImage(receivedImg)"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="generate-btn text-center">
        <button class="shuffle-gen" (click)="uploadImages('1.0')">Hybrid Generate</button>
        <button class="shuffle-gen" (click)="uploadImages('0.0')">Shuffle Generate</button>
      </div>
    </div>
  </div>
</div>
