<div class=" container-fluid zodiac_box zodiac_box_repos">
  <div class="row">
    <div class="col-sm-3 col-xs-4 leftSideBar">
      <ul class="nav nav-pills nav-stacked menuS">

        <li *ngFor="let tag of tags" class="presentation">
          <a>{{tag.key}}</a>
          <ul class="nav nav-pills nav-stacked subMenuS" ngClass="{{tag.tags.length > 9 ? 'scroll' : ''}}">
            <li *ngFor="let subCat of tag.tags" class="subManuLi">
              <a (click)="addTag(subCat)">{{subCat}}</a>
            </li>
          </ul>
        </li>

      </ul>

    </div>

    <div class="col-sm-9 col-xs-8 zodiacCont" *ngIf="displayAnimations">
      <div *ngFor="let animation of displayAnimations.slice((page - 1) * 15 , (page - 1) * 15 + 15)" class="box-video fadeInUp clust">

        <div style="z-index: 111;">
        <a class="newwwww" (click)="addVideo(animation)"><i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i></a>
        <a href="{{animation.mp4Url}}" target="_blank" class="download-anim"><i class="fa fa-download fa-2x" aria-hidden="true"></i></a>
          <div class="animation-name">{{animation.name}}</div>
        </div>
        <video autoplay loop muted src="{{animation.mp4Url}}">

        </video>
      </div>
    </div>


  </div>
  <div class="row" *ngIf="animations?.length">
    <div class="col-lg-5 col-lg-offset-5">
            <ngb-pagination [collectionSize]="displayAnimations?.length" [(page)]="page" (pageChange)="setPage($event)" [maxSize]="15" [rotate]="true" [boundaryLinks]="true">

            </ngb-pagination>
    </div>
  </div>
</div>
