$background-color: #202a34;
$navbar-color: #253443;
$navbar-shadow: #1b2836;

$home-box-color: #1f2933;
$home-box-color2: #19354c;
$home-box-color3: #173550;
$home-box-border-color: #1bcbdb;
$secondary-box-color: #18334c;

$blue: #008aff;
