/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   One Page Scroll with Animations styles
   ========================================================================== */


/* Code Samples */

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    background: #faf8f0;
    font-size: 14px;
}

code {
    display: block;
    padding: 0.5em 1em;
    border: 1px solid #bebab0;
}

body,
html {
    height: 100%;
    min-height: 100%;
}

.loading {
    /*background: url('../img/ico_loading.gif') no-repeat center center;*/
}

#demo-content {}

section {
    min-width: 1080px;
    opacity: 0;
    -webkit-transition: opacity .6s;
    -webkit-transition-delay: .2s;
    -moz-transition: opacity .6s;
    -moz-transition-delay: .2s;
    -o-transition: opacity .6s;
    -o-transition-delay: .2s;
    transition: opacity .6s;
    transition-delay: .2s;
}

.loaded section {
    opacity: 1;
}

section h2 {
    font-size: 36px;
    font-weight: 300;
    color: #000000;
    margin: 0;
    padding: 0;
    line-height: 1em;
}

section p {
    font-weight: 300;
    margin-bottom: -22px;
    font-size: 1.1875em;
    line-height: 1.6316;
    color: #808080;
}

.section-content,
.fake-content {
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: -500px;
    width: 100%;
    height: 100%;
    border-bottom: 1px #707070 solid;
}

.copy-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -192px;
    margin-left: 40px;
    width: 395px;
    z-index: 1;
}

.images-container {
    display: block;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0%;
    width: 1080px;
    height: 600px;
}


/* Fade in animation - Slide 1 */

#fadeInAnim {
    background-color: #f0f2f4;
    overflow: hidden;
}

#fadeInAnim .copy-container {
    margin-top: -162px;
    margin-left: 200px;
    width: 300px;
}

#fadeInAnim img {
    position: absolute;
    left: 50%;
    bottom: -230px;
    margin-left: -530px;
}


/* Fade in animation - Slide 2 */

#fadeInAnim2 {
    background-color: #f0f2f4;
    overflow: hidden;
}

#fadeInAnim2 .copy-container {
    margin-top: -350px;
    margin-left: -19%;
    width: 503px;
}

#fadeInAnim2 img {
    position: absolute;
    left: 50%;
    bottom: -230px;
    margin-left: -530px;
}


/* Fade in animation - Slide 3 */

#fadeInAnim3 {
    background-color: #f0f2f4;
    overflow: hidden;
}

#fadeInAnim3 .copy-container {
    margin-top: 133px;
    margin-left: -3%;
    width: 376px;
}

#fadeInAnim3 img {
    position: absolute;
    left: 50%;
    bottom: -230px;
    margin-left: -530px;
}


/* Fade in animation - Slide 4 */

#fadeInAnim4 {
    background-color: #f0f2f4;
    overflow: hidden;
}

#fadeInAnim4 .copy-container {
    margin-top: 120px;
    margin-left: -19%;
    width: 500px;
}

#fadeInAnim4 img {
    position: absolute;
    left: 50%;
    bottom: -230px;
    margin-left: -530px;
}


/* Fade in animation - Slide 5 */

#fadeInAnim5 {
    background-color: #f0f2f4;
    overflow: hidden;
}

#fadeInAnim5 .copy-container {
    margin-top: -162px;
    margin-left: 200px;
    width: 650px;
}

#fadeInAnim5 img {
    position: absolute;
    left: 50%;
    bottom: -230px;
    margin-left: -530px;
}

.fadeIn {}


/* Reveal animation - Slide 2 */

#revealAnim .copy-container {
    width: 320px;
    margin-left: 60px;
    margin-top: -130px;
}

#revealAnim .images-container {
    margin-top: -245px;
    margin-left: -677px;
}

#revealAnim .images-container img {
    float: left;
    position: relative;
    z-index: 1;
    -webkit-transition: -webkit-transform .6s .9s;
    -moz-transition: -moz-transform .6s .9s;
    transition: transform .6s .9s;
}

#revealAnim .images-container .back {
    z-index: 2;
    -webkit-transform: translate3d(-40%, 0, 0);
    -moz-transform: translate3d(-40%, 0, 0);
    transform: translate3d(-40%, 0, 0);
}

#revealAnim .images-container .front {
    -webkit-transform: translate3d(61.6%, 0, 0);
    -moz-transform: translate3d(61.6%, 0, 0);
    transform: translate3d(61.6%, 0, 0);
}

#revealAnim .images-container .side {
    -webkit-transform: translate3d(-338%, 0, 0);
    -moz-transform: translate3d(-338%, 0, 0);
    transform: translate3d(-338%, 0, 0);
}

.viewing-page-2 #revealAnim .images-container img {
    -webkit-transform: translate3d(0, 0, 0) !important;
    -moz-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
}


/* Between Slides Animation - Slide 3-4 */

#betweenSlidesAnimStart {}

#betweenSlidesAnimStart .copy-container {
    width: 430px;
    margin-left: -40px;
    margin-top: -220px;
}

#betweenSlidesAnimStart .images-container {
    margin-top: -245px;
    margin-left: -658px;
    width: 1140px;
}

#betweenSlidesAnimStart .images-container img,
#betweenSlidesAnimEnd .images-container img {
    float: left;
    position: relative;
    z-index: 1;
}

#betweenSlidesAnimStart .pink {
    -webkit-transform: translate3d(0, 460px, 0);
    -moz-transform: translate3d(0, 460px, 0);
    transform: translate3d(0, 460px, 0);
}

#betweenSlidesAnimStart .yellow {
    -webkit-transform: translate3d(0, 260px, 0);
    -moz-transform: translate3d(0, 260px, 0);
    transform: translate3d(0, 260px, 0);
}

#betweenSlidesAnimStart .blue {
    margin-top: 30px;
    -webkit-transform: translate3d(0, 200px, 0);
    -moz-transform: translate3d(0, 200px, 0);
    transform: translate3d(0, 200px, 0);
}

.viewing-page-3 #betweenSlidesAnimStart .pink {
    -webkit-transform: translate3d(0, -160px, 0) !important;
    -moz-transform: translate3d(0, -160px, 0) !important;
    transform: translate3d(0, -160px, 0) !important;
}

.viewing-page-3 #betweenSlidesAnimStart .yellow {
    -webkit-transform: translate3d(0, 0, 0) !important;
    -moz-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
}

.viewing-page-3 #betweenSlidesAnimEnd .copy-container {
    opacity: 0;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
    -webkit-transition-delay: .0s;
    -moz-transition-delay: .0s;
    -o-transition-delay: .0s;
    transition-delay: .0s;
}

#betweenSlidesAnimEnd .images-container {
    width: 860px;
    margin-top: -10px;
    margin-left: -96px;
}

#betweenSlidesAnimEnd .copy-container {
    width: 760px;
    text-align: center;
    margin-left: -340px;
    opacity: 0;
    -webkit-transition: opacity .6s;
    -webkit-transition-delay: .8s;
    -moz-transition: opacity .6s;
    -moz-transition-delay: .8s;
    -o-transition: opacity .6s;
    -o-transition-delay: .8s;
    transition: opacity .6s;
    transition-delay: .8s;
}

#betweenSlidesAnimEnd .fake-content .images-container {
    margin-top: -10px;
    margin-left: -376px;
}

.viewing-page-3 .fake-content {
    top: -100%;
    -webkit-transition: top .9s;
    -moz-transition: top .9s;
    -o-transition: top .9s;
    transition: top .9s;
}

.viewing-page-3 .fake-content .green {
    -webkit-transform: translate3d(0, 160px, 0) !important;
    -moz-transform: translate3d(0, 160px, 0) !important;
    transform: translate3d(0, 160px, 0) !important;
}

.viewing-page-4 .fake-content {
    top: 0;
    -webkit-transition: top .9s;
    -moz-transition: top .9s;
    -o-transition: top .9s;
    transition: top .9s;
}

.viewing-page-4 .fake-content .green {
    -webkit-transform: translate3d(0, 0, 0) !important;
    -moz-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
}

.viewing-page-4 #betweenSlidesAnimStart .pink,
.viewing-page-4 #betweenSlidesAnimStart .yellow {
    -webkit-transform: translate3d(0, -160px, 0) !important;
    -moz-transform: translate3d(0, -160px, 0) !important;
    transform: translate3d(0, -160px, 0) !important;
}

.viewing-page-4 #betweenSlidesAnimEnd .copy-container {
    opacity: 1;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}


/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}


/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}


/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links for images, or javascript/internal links
     */
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
        /* h5bp.com/t */
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    @page {
        margin: 0.5cm;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
