<div class="content indent">
  <div class="who-box">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 wow fadeInUp">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 wow fadeInUp animated" data-wow-delay="0.3s">
          <h2 class="indent">About Us</h2>
          <ul class="list4">
            <li>
              <p>Norah AI is a revolutionary, A.I. empowered workflow for generating games. The A.I. enables quick creation and incorporation of all different game elements ranging from creation of 3D models and their animation to story
                weaving and texturing. </p>
            </li>
            <li>
              <h2 class="indent">Our Vision</h2>
              <p>Building an autonomous, AI powered ecosystem for interactive content creation which would drive a self fuelling marketplace for elements ranging from animations to full games </p>
            </li>
            <li>
              <h2 class="indent">History and Team</h2>
              <p>Founded in 2015 by three college dropouts from Birla Institute of Technology & Science, Pilani to follow their passion with a vision of turning their dreams into reality. Today, Absentia consists of a highly skilled and
                energetic team partnering with knowledge partners from across the globe. </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
