.content.indent {
  padding: 53px 0 0 0;
  background: #ffffff;
}
h2 {
  &.indent {
    text-align: center;
    margin: 0 0 27px 0;
    padding-top: 21px;
    position: relative;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
  }

  &:after {
    position: absolute;
    left: 50%;
    top: 0;
    width: 46px;
    height: 2px;
    margin-left: -23px;
    background: #412a58;
    content: '';
    z-index: 1;
  }
}
.who-box .col-lg-4 {
  margin-bottom: 25px;
}
.list4 {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;

  li {
    font-size: 14px;
    line-height: 1.428571429;
    margin-bottom: 17px;
    overflow: hidden;

    p {
      margin: 0;
    }
  }

}
