<div class="main_wapper wrapper wrap">
  <div class="row">
    <div class="col-md-2 terrain-sidebar">
      <ul>
        <li>
          <a class="expand">
            <div class="right-arrow">▼</div>
            <h2>Terrain generator</h2>
          </a>
          <ul class="terrain-detail">
            <li
              [ngClass]="{'active-gen': activeLink === 'mountains'}"
              (click)="loadComponent('mountains')"><span>Mountains</span></li>
            <li
              [ngClass]="{'active-gen': activeLink === 'hills'}"
              (click)="loadComponent('hills')"><span>Hills</span></li>
            <li
              [ngClass]="{'active-gen': activeLink === 'plains'}"
              (click)="loadComponent('plains')"><span>Plains</span></li>
            <li
              [ngClass]="{'active-gen': activeLink === 'islands'}"
              (click)="loadComponent('islands')"><span>Islands</span></li>
            <li
              [ngClass]="{'active-gen': activeLink === 'caves'}"
              (click)="loadComponent('caves')"><span>Caves</span></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-md-10 terrain-content">
      <div class="row">
        <div class="terrain-components" [ngSwitch]="currentComponent">
          <app-mountains [generationType]="currentComponent" *ngSwitchCase="'mountains'"></app-mountains>
          <app-hills [generationType]="currentComponent" *ngSwitchCase="'hills'"></app-hills>
          <app-plains [generationType]="currentComponent" *ngSwitchCase="'plains'"></app-plains>
          <app-islands [generationType]="currentComponent" *ngSwitchCase="'islands'"></app-islands>
          <app-caves [generationType]="currentComponent" *ngSwitchCase="'caves'"></app-caves>
        </div>
      </div>
    </div>
  </div>
</div>
