.main_wapper {
  padding-top: 5px;
}

.terrain-sidebar {
  padding: 0;
  background-color: #253443;
  > ul {
    padding: 0;
    margin: 0;
  }
  .expand {
    padding-left: 35px;
    border-bottom: 1px solid rgba(130, 108, 108, .2);
    &:hover {
      text-decoration: none;
    }
    h2 {
      margin: 0;
      font-size: 16px;
      color: #0287f9;
    }
  }
  .hybrid-btn {
    li {
      padding: 0;
      border-bottom: none;
      button {
        padding: 10px;
        width: 100%;
        background: #104a9b;
        border: none;
        &:hover {
          background-color: lighten(#105a9b, 15%);
        }
      }
    }
  }
  .open {
    display: block;
  }
}

.terrain-detail {
  padding: 0;
  list-style: none;
  li {
    padding: 12px 15px;
    color: #fff;
    border-bottom: 1px solid rgba(130, 108, 108, .2);
    cursor: pointer;
    &:hover {
      background-color: lighten(#253443, 20%);
    }
  }
  a {
    padding-left: 55px;
    color: #fff;
    &:hover {
      text-decoration: none;
    }
  }
}

.terrain-content {
  h3 {
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    background-color: #253443;
  }
  .item {
    position: relative;
    height: 180px;
    margin-bottom: 15px;
    background: #1c252f;
    .overlay {
      opacity: 0;
      transition: .5s ease;
    }
    .item-row:first-child {
      display: flex;
      justify-content: space-between;
      padding:5px;
      position:absolute;
      top:0;
      width: 100%;
      button {
        width: 30px;
        height: 30px;
        padding: 0;
        font-size: 20px;
      }
    }
    .item-row:last-child {
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      display: flex;
      justify-content: space-between;
      padding: 2px;
      button {
        width: 49%;
        padding: 5px;
      }
    }
    button {
      overflow: hidden;
      color: #f2eef4;
      background: transparent;
      border: 1px solid rgba(255, 255, 255, .2);
      border-radius: 5px;
      &:hover {
        background: rgba(255, 255, 255, .2);
      }
    }
    &:hover .overlay { opacity: 1; }
  }
  .shuffle-gen {
    width: 100%;
    padding: 8px 0;
    background-color: #105a9b;
    border: none;
    color: #fff;
    &:hover {
      background-color: lighten(#105a9b, 15%);
    }
  }
  .full-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    width: 25px;
    height: calc(100vh - 70px);
    background-color: #1c252f;
    cursor: pointer;
    &:hover {
      background-color: lighten(#1c252f, 10%);
    }
  }
  .ter-gen2 {
    .right-arrow {
      width: auto;
      padding: 0;
    }
    .items {
      height: 390px;
      overflow-y: scroll;
    }
  }
  div.desc {
	      padding: 15px;
	          text-align: center;
	  }
	      
	  .modal {
	      display: none; 
    	      position: fixed; 
	      z-index: 1; 
	      padding-top: 50px; 
	      left: 0;
	      top: 0;
	      width: 100%; 
	      height: 100%; 
	      overflow: auto; 
	      background-color: rgb(0,0,0);
	      background-color: rgba(0,0,0,0.4);
	  }
          .modal-content {
              background-color: #FFFFFF;
              margin: auto;
	      padding: 20px;
	      border: 1px solid #888;
	      width: 80%;
	      height: 80%;
	  }
          .close {
              color: #aaaaaa;
              float: right;
	      font-size: 28px;
	      font-weight: bold;
	  }
          .close:hover,
          .close:focus {
              color: #000;
              text-decoration: none;
	      cursor: pointer;
	  }
}
