<div class="">

  <div class="merger_container_animation">

    <div class="container">
      <div class="row" style="margin-top:7px;">
        <div class="col-md-10 col-md-offset-1">
          <div class="col-md-4">

            <h2 id="left_anim_title" style="color:#84838c;font-size:15px;text-align:center;padding:5px 0 0 0;">Input 1</h2>

            <div class="row">
              <h2 style="color:#84838c;font-size:15px;text-align:center;padding:5px 0 0 0;"></h2>
            </div>
            <div class="row">
              <div class="col-md-1">
                <a href="javascript:ApplyLeftAnim(-1);" class="carousel-control left" style="left:0px; top: 110px; height: 0px;">
                  <img src="/assets/images/left_icon.png">
                </a>
              </div>
              <div class="col-md-9">
                <div class="left_animation_mp43">

                  <video autoplay loop muted id="left_animation_mp4">
                    <source id="left_animation_mp4_src" src="" type="video/mp4" />
                  </video>
                  <!--<img src="img/plus_round.png" style="position:absolute;top:5px;left:19px;">-->
                </div>
              </div>

              <div class="col-md-1">
                <a href="javascript:ApplyLeftAnim(1);" class="carousel-control right" style="right:37px; height: 0px; top: 110px;">
                  <img src="/assets/images/right_icon.png">
                </a>
              </div>
            </div>
            <span id="left_anim_duration"></span>
            <input id="left_anim_name" autocomplete="on" type="text" placeholder="left animation name" value="https://firebasestorage.googleapis.com/v0/b/animake-672fc.appspot.com/o/yamlFiles%2Fblock.anim?alt=media&token=e05704ef-e047-4d5d-b690-d782817e329b" class="in_bg"
                   style="display:none;">
          </div>
          <div class="col-md-4 output-window">
            <h2 style="color:#84838c;font-size:15px;text-align:center;padding:5px 0 0 0;">Output Window</h2>
            <div id="gameContainer2" class="col-md-11">
              <div id="gameContainer" style="height: 250px"></div>
              <div class="enter-name">
                <div class="row">
                  <div class="col-md-10" style="padding:0;margin:0;padding-left:17px;">
                    <input id="animation_name" type="text" autocomplete="off" placeholder="enter name" value="Test" class="in_bg" style="background:#66636f;border:0;width:100%;padding:7px 10px;border-radius:0 0 0 10px;color:#fff;outline:none;text-align:left;">
                  </div>
                  <div class="col-md-2" style="padding:0;margin:0;margin-left:-16px;background:#4c4756;">
                    <a href="javascript:downloadAnim();"><span style="display:block;width:100%;height:35px;background:url('/assets/images/down_plus.jpg') no-repeat -0px 5px;border:0px solid #fff"></span></a>
                  </div>
                </div>

              </div>
            </div>

          </div>
          <h2 id="right_anim_title" style="color:#84838c;font-size:15px;text-align:center;padding:5px 0 0 0;">Input 2</h2>
          <div class="col-md-4">
            <div class="row">
              <h2 style="color:#84838c;font-size:15px;text-align:center;padding:5px 0 0 0;"></h2>
            </div>
            <div class="row">
              <div class="col-md-1">
                <a href="javascript:ApplyRightAnim(-1);" class="carousel-control left" style="left: 0px; top: 110px; height: 0px;">
                  <img src="/assets/images/left_icon.png">
                </a>
              </div>
              <div class="col-md-9">
                <div class="image">
                  <video autoplay loop muted id="right_animation_mp4">
                    <source id="right_animation_mp4_src" src="" type="video/mp4" />
                  </video>
                  <!--<img src="img/plus_round.png" style="position:absolute;top:5px;left:19px;">-->
                </div>
              </div>
              <div class="col-md-1">
                <a href="javascript:ApplyRightAnim(1);" class="carousel-control right" style="right: 37px; height: 0px; top: 110px;">
                  <img src="/assets/images/right_icon.png"></a>
              </div>
            </div>
            <span id="right_anim_duration"></span>
            <input id="right_anim_name" autocomplete="on" type="text" placeholder="right animation name" value="http://35.197.25.101:8080/boxing.anim" class="in_bg" style="display:none;">

          </div>
        </div>

      </div>
      <!-- ./row-->


      <div class="row">
        <div class="col-md-10 col-md-offset-1" style="margin-top:10px;">
          <div class="blending_options">
            <div class="col-md-3">
              <h3 style="font-size:18px;color:#fefefe;margin-top:10px;">Blending Options:</h3>
            </div>
            <div class="col-md-1">
              <div class="checkbox">
                <label><input type="checkbox" autocomplete="off" value="" checked="checked" onclick='handleClick(this);' name="Loop">Loop</label>
              </div>
            </div>
            <div class="col-md-2">
              <div class="checkbox">
                <label><input type="checkbox" autocomplete="off" value="" onclick='handleClick(this);' name="TimeStretch">Time stretch</label>
              </div>
            </div>


            <div class="col-md-4">
              <div class="">
                <div class="col-md-5">
                  <label style="color:#fefefe;font-size:14px;margin-top:10px;">Start offset</label>
                </div>
                <div class="col-md-7">
                  <input class="range-slider__range" autocomplete="off" type="range" value="0" min="0" max="100" name="StartOffs" style="margin-top:17px;">
                </div>

              </div>
            </div>
            <!--               <div class="col-md-2">
                <div class="checkbox">
                    <label><input type="checkbox" autocomplete="off" value="" onclick='handleClick(this);' name="Blend Root Motion">Blend Root Motion</label>
                </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>

  <div class="blending_control">
    <div class="container" style="padding:0;">
      <div class="col-md-10 col-md-offset-1">
        <h3 style="font-size:18px;color:#fefefe;margin-top:-20px;margin-left:2px;">Blending Control:</h3>
        <div class="blending_control_block">
          <label>Head</label>
          <div class="range-slider">
            <input class="range-slider__range" autocomplete="off" type="range" value="0" min="0" max="100" name="Head">
          </div>
        </div>

        <div class="blending_control_block">
          <label>Torso</label>
          <div class="range-slider">
            <input class="range-slider__range" autocomplete="off" type="range" value="0" min="0" max="100" name="Trso">
          </div>
        </div>

        <div class="blending_control_block">
          <label>Left Arm</label>
          <div class="range-slider">
            <input class="range-slider__range" autocomplete="off" type="range" value="0" min="0" max="100" name="ArmL">
          </div>
        </div>

        <div class="blending_control_block">
          <label>Right Arm</label>
          <div class="range-slider">
            <input class="range-slider__range" autocomplete="off" type="range" value="0" min="0" max="100" name="ArmR">
          </div>
        </div>

        <div class="blending_control_block">
          <label>Left Leg</label>
          <div class="range-slider">
            <input class="range-slider__range" autocomplete="off" type="range" value="0" min="0" max="100" name="LegL">
          </div>
        </div>

        <div class="blending_control_block">
          <label>Right Leg</label>
          <div class="range-slider">
            <input class="range-slider__range" autocomplete="off" type="range" value="0" min="0" max="100" name="LegR">
          </div>
        </div>

        <div class="blending_control_block">
          <label>Fingers</label>
          <div class="range-slider">
            <input class="range-slider__range" autocomplete="off" type="range" value="0" min="0" max="100" name="Fing">
          </div>
        </div>
        <div class="blending_control_block">
          <label>Root</label>
          <div class="range-slider">
            <input [(ngModel)]="root" class="range-slider__range" autocomplete="off" type="range" value="0" min="0" max="100" name="Root">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
