<div class="main">
  <!--header-->
  <header [class]="'clearfix ' + (updateIndex ? 'updateIndex' : '')" class="clearfix">
    <nav class="navbar navbar-default navbar-static-top tm_navbar clearfix" role="navigation">
      <div [routerLink]="['']" class="logo">

      </div>
      <ul class="nav sf-menu  clearfix">

        <li class="sub-menu">
          <a [routerLink]="['']">Home</a>
        </li>

        <li class="sub-menu">
          <a [routerLink]="['about']" routerLinkActive="active">About</a>
        </li>
        <li (click)="checkLogin('my-library')">
          <a [routerLink]="['my-library']" routerLinkActive="active">My Library</a>
        </li>
        <li>
          <a [routerLink]="['contact-us']" routerLinkActive="active">Contact Us</a>
        </li>
      </ul>

    </nav>
    <template ngbModalContainer></template>

    <app-auth [showModal]="userAuthorized"></app-auth>
  </header>
  <div class="container">

    <div *ngIf="showFilters" class="radioBox">
      <div class="container">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 filter">
          <div class="row">
            <div class="col-lg-3">
              <span class="text-center pull-left">Filters: </span>
            </div>
            <div class="col-lg-9 tagName">
              <button *ngFor="let tag of tags" class="closeDiv">{{tag}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<!--footer-->
<footer *ngIf="!hideFooter">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3  text-left">
        <h3 class="listTitle">
          Horoscopes
        </h3>
        <ul class="list-unstyled text-justify">
          <li> - 2015 Horoscope </li>
          <li> - 2014 Chinese</li>
          <li> - Daily Horoscope</li>
          <li> - Weekly Horoscope</li>
        </ul>
      </div>
      <div class="col-lg-3  text-left">
        <h3 class="listTitle">
          Horoscopes
        </h3>
        <ul class="list-unstyled text-justify">
          <li> - 2015 Horoscope</li>
          <li> - 2014 Chinese</li>
          <li> - Daily Horoscope</li>
          <li> - Weekly Horoscope</li>
        </ul>
      </div>
      <div class="col-lg-3  text-left">
        <h3 class="listTitle">
          Horoscopes
        </h3>
        <ul class="list-unstyled">
          <li> - 2015 Horoscope</li>
          <li> - 2014 Chinese</li>
          <li> - Daily Horoscope</li>
          <li> - Weekly Horoscope</li>
        </ul>
      </div>
      <div class="col-lg-3  text-left">
        <h3 class="listTitle">
          Horoscopes
        </h3>
        <ul class="list-unstyled">
          <li> - 2015 Horoscope</li>
          <li> - 2014 Chinese</li>
          <li> - Daily Horoscope</li>
          <li> - Weekly Horoscope</li>
        </ul>
      </div>
    </div>
    <div class="row footerBanner">
      <div class="form-group">
        <input type="email" class="form-control banner-form" id="exampleInputEmail1" placeholder="Email">
        <span class="subscribe">SUBSCRIBE</span>
      </div>
    </div>
  </div>
</footer>
