<div class="main container-fluid">
    <div class="row">
        <!--header-->
        <header [class]="'clearfix ' + (updateIndex ? 'updateIndex' : '')" class="col-xs-12 clearfix">
            <nav class="navbar navbar-default navbar-static-top tm_navbar clearfix" role="navigation">
                <div class="logo"></div>
                <ul class="nav sf-menu  clearfix">

                    <li class="sub-menu">
                        <a [routerLink]="['']">Home</a>
                        <span class="fa fa-angle-down"></span>
                        <ul class="homeSub">
                            <li>
                                <a href="#">Animation</a>
                                <ul class="bodysub">
                                    <li [routerLink]="['auto-rigger']"><a style="cursor:pointer;">Auto Rigger</a></li>
                                    <li><a [routerLink]="['repository']">Repository</a></li>
                                    <li><a [routerLink]="['style-transfer']">Style Transfer Tool</a>
                                    </li>
                                    <li><a [routerLink]="['motion-editor']">Motion Editor</a></li>
                                </ul>
                            </li>
                            <li><a href="#">3D Modelling</a>
                                <ul class="bodysub">
                                    <li><a href="#">Yet To Launch</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Game maker</a>
                                <ul class="bodysub">
                                    <li><a href="#">Yet To Launch</a></li>
                                </ul>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a [routerLink]="['export-game']">Export Game</a>
                    </li>
                    <li>
                        <a onclick="window.location.href='/game-maker-start'">Game Maker</a>
                    </li>

                    <!--<li class="sub-menu">
                    <a [routerLink]="['char-maker']">Char Maker</a>
                </li>-->
                    <li class="sub-menu">
                        <a [routerLink]="['about']">About</a>
                    </li>
                    <li>
                        <a [routerLink]="['my-library']">My Library</a>
                    </li>
                    <li>
                        <a [routerLink]="['contact-us']">Contact Us</a>
                    </li>
                </ul>
            </nav>
            <template ngbModalContainer></template>

            <app-auth [showModal]="userAuthorized"></app-auth>
        </header>
    </div>
</div>
<router-outlet></router-outlet>
<!--footer-->
<footer *ngIf="!hideFooter">
    <div class="container">
        <div class="footer">
            NORAH
        </div>
        <div class="footerCopyright">
            © copy right policy
        </div>
    </div>
</footer>