@import "../styles/colors";
@import "../styles/variables";

.main {
  position: relative;
  background: $background-color url(/assets/images/glow.png) center bottom no-repeat;
} 

.container {
  text-align: center;

  @media (min-width: 1220px) {
    padding: 0;
  }
}
header {
  position: relative;
  width: 100%;
  padding: 0 20px 0 0;
  background: $navbar-color;
  box-shadow: 0 4px 4px 0 #1b2836;
  margin: 0 0 0px;
}

nav.tm_navbar {
  border: none;
  padding: 0;
  margin: 0;
  float: left;
  min-height: 0;
  background: none;

  .logo {
    background: url("/assets/images/logo.png") no-repeat center;
    float: left;
    width: 120px;
    height: 70px;
  }

  ul {
    float: left;
  }

  li:hover>a {
    color: $blue;
    background: $navbar-color !important;
    transition: all 0.3s;
  }
  li {
    position: relative;
    font-size: 14px;
    line-height: 50px;
    padding: 0;
    margin: 0;
    float: left;

    :hover {
      >a {
        color:white;
        background:$blue !important;
        transition: all 0.3s;
      }
      >span {
        color: #ffffff;
        transition: all 0.3s;
      }
    }
    a {
      position: relative;
      padding: 0;
      font: $navbar-font;
      width: 130px;
      text-align: center;
      color: #ffffff;
      background: $navbar-color;
      transition: all 0.3s;

      &.active {
        color: $blue;
      }
    }
    span {
      text-align: center;
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 9px;
      color: #ffffff;
      font-size: 12px;
      transition: all 0.35s;
    }
  }
  .sub-menu>ul {
    background-color: #171d24;
    left: -2px;
    position: absolute;
    display: none;
    width: 170px;
    top: 68px;
    list-style: none !important;
    padding: 0;
    margin: 0;
    overflow: visible;
    text-align: left;
    //border: 1px solid $navbar-color;


    li {
      position: relative;
      background: #171d24;
      border: none;
      width: auto;
      float: none;
      margin: 0;
      padding: 10px 0;
      display: block;
      //border-bottom: 1px solid $navbar-color;
      height: 50px;

      &:hover {
        background-color: $blue !important;

      }
      a     {
        display: block;
        background: transparent !important;
        margin: 0;
        font: $navbar-font;
        color: #ffffff;
        width: 100%;
        padding: 0 0 0 20px;
        text-align: left;
        border: none;
        -webkit-transition: all 0.25s ease;
        -o-transition: all 0.25s ease;
        transition: all 0.25s ease;
        text-decoration: none;
        height: 50px;
        bottom: 18px;
      }
    }
    ul {
      display: none;
      top: 0;
      list-style: none !important;
      zoom: 1;
      background-color: $navbar-color!important;
      padding: 0;
      margin: 0;
      text-align: left;
      position: absolute;
      left: 100%;
    }
  }
}
.homeSub .bodysub {
  width: 183px !important;
}
footer {
  padding: 70px 0 70px 70px;
  position: relative;
  overflow: hidden;
  text-align: center;
  background-color: #1c252f;
  color: $blue;
  font-size: 38px;

  .footerCopyright {
    font-size: 14px;
    color: grey;
  }
}
.radioBox {
  background-color: $navbar-color;
  margin-bottom: 1%;
  & span {
    font-size: 23px;
    text-align: center;
    color: white;
    margin-left: 3%;
  }
  font: $navbar-font;
}
h3.listTitle {
  color: $blue;
  padding: 0 5px;
  text-transform: uppercase;

}
ul.list-unstyled {
  li {
    padding: 5px;
  }
}
.footerBanner {
  width: 100%;
  height: 250px;
  background: white url('/assets/images/Layer 26.png') no-repeat center;
}
.banner-form {
  position: absolute;
  left: 59%;
  top: 64%;
  width: 268px;
  height: 41px;
  background-color: transparent;
  border: none;
}
.subscribe {
  position: absolute;
  right: 19%;
  top: 66%;
  color: white;
  font-size: 15px;
}


.del_btn a {
  padding: 10px 20px !important;
  width: 160px;
  margin-top: 18px;
  margin-right: 20px;
  font-weight: 400;
  text-align: center;
  border: 1px solid $blue;
  border-radius: 30px;
  color: #fff;
  background: $navbar-color none;
  transition: all 0.2s ease-in-out;
  font-size: $navbar-font;
  float: left;

  i {
    padding-right: 19%;
  }
  &:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
  }
}


