<div class="zodiac_box">
  <div class="" style="position:relative;">
    <app-logo></app-logo>
    <div [routerLink]="['auto-rigger']" class="box box1 wow fadeInUp" data-wow-delay="0.3s">
      <figure>
        <a><img src="/assets/images/rigger.png" alt=""></a>
      </figure>
      <strong><br>AUTO RIGGER</strong>
    </div>
    <div [routerLink]="['repository']" class="box box2 wow fadeInUp" data-wow-delay="0.2s">


      <figure>
        <a><img src="/assets/images/repository.png" alt=""></a>
      </figure>
      <strong><br>ANIMATION REPOSITORY</strong>

    </div>
    <div [routerLink]="['style-transfer']" class="box box3 wow fadeInUp" data-wow-delay="0.1s">
      <figure>
        <a [routerLink]="['style-transfer']"><img src="/assets/images/merge.png" alt=""></a>
      </figure>
      <strong><br>STYLE TRANSFER TOOL</strong>
    </div>
    <div [routerLink]="['motion-editor']" class="box box4 wow fadeInUp">
      <figure>
        <a [routerLink]="['motion-editor']"><img src="/assets/images/pose.png" alt=""></a>
      </figure>
      <strong><br>MOTION EDITOR</strong>
    </div>
  </div>
</div>
<!--<div class="zodiac_box secondary">-->
  <!--<div class="" style="position:relative;">-->
    <!--<div class="box box1 wow fadeInUp" data-wow-delay="0.3s">-->
        <!--3D MODELLING TOOL-->
      <!--<p>( yet to launch )</p>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="zodiac_box secondary">-->
  <!--<div class="" style="position:relative;">-->
    <!--<div class="box box1 wow fadeInUp" data-wow-delay="0.3s">-->
        <!--GAME MAKER-->
      <!--<p>( yet to launch )</p>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
