<div class="zodiac_box">
  <div class="" style="position:relative; padding-bottom: 250px">
    <app-logo></app-logo>
    <div [routerLink]="['auto-rigger']" class="box box1 wow fadeInUp" data-wow-delay="0.3s">
      <strong><br>AUTO RIGGER</strong>
    </div>
    <div [routerLink]="['repository']" class="box box2 wow fadeInUp" data-wow-delay="0.2s">
      <strong><br>ANIMATION REPOSITORY</strong>
    </div>
    <div [routerLink]="['style-transfer']" class="box box3 wow fadeInUp" data-wow-delay="0.1s">
      <strong><br>STYLE TRANSFER TOOL</strong>
    </div>
    <div [routerLink]="['motion-editor']" class="box box4 wow fadeInUp">
      <strong><br>MOTION EDITOR</strong>
    </div>
  </div>
</div>
<!--<div class="zodiac_box secondary">-->
  <!--<div class="" style="position:relative;">-->
    <!--<div class="box box1 wow fadeInUp" data-wow-delay="0.3s">-->
        <!--3D MODELLING TOOL-->
      <!--<p>( yet to launch )</p>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="zodiac_box secondary">-->
  <!--<div class="" style="position:relative;">-->
    <!--<div class="box box1 wow fadeInUp" data-wow-delay="0.3s">-->
        <!--GAME MAKER-->
      <!--<p>( yet to launch )</p>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
