<div class="zodiac_box">
  <div class="container" style="position:relative;">
    <app-logo></app-logo>
    <div class="box box1 wow fadeInUp" data-wow-delay="0.3s">
      <div class="hover_div" onclick="location.href='ARigger';">

        <h3>Auto Rigger</h3>
        <p> AutoRig tool uses deep learning to produce a full skeleton and a wide variety of movements without any manual effort in matter of seconds.
        </p>
      </div>


      <figure>
        <a href="ARigger"><img src="/assets/images/rigger.png" alt=""></a>
      </figure>
      <strong><br>AUTO RIGGER</strong>
    </div>
    <div class="box box2 wow fadeInUp" data-wow-delay="0.2s" data-href="repository">


      <div class="hover_div" onclick="location.href='repository';">

        <h3>Repository</h3>
        <p>Powered by the ML algorithms, the animation repository contains a huge library of locomotion, detailed and complex dance forms, and combat animations that cater to a multitude of requirements
        </p>

      </div>
      <figure>
        <img src="/assets/images/repository.png" alt="">
      </figure>
      <strong><br>ANIMATION REPOSITORY</strong>

    </div>
    <div class="box box3 wow fadeInUp" data-wow-delay="0.1s">
      <div class="hover_div" onclick="location.href='merger_tool';">

        <h3>Style Transfer Tool</h3>
        <p>AI-powered animation merger tool endows creators with the ability to combine aesthetics of two different animation to produce unexpected and stunning results.
        </p>
      </div>
      <figure>
        <a href="merger_tool"><img src="/assets/images/merge.png" alt=""></a>
      </figure>
      <strong><br>STYLE TRANSFER TOOL</strong>
    </div>
    <div class="box box4 wow fadeInUp">
      <div class="hover_div" onclick="location.href='pose_editor';">

        <h3>Motion Editor</h3>
        <p>Utilize the power of Body Animation Motion Editor tool for smart customizability create stunning new animations to suite the multitudes of requirements of a creator.
        </p>
      </div>
      <figure>
        <a href="pose_editor"><img src="/assets/images/pose.png" alt=""></a>
      </figure>
      <strong><br>MOTION EDITOR</strong>
    </div>
    <strong></strong>


  </div>
</div>
