<div class="content indent">
  <div class="thumb-box10">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-4 wow fadeInUp">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-4">
          <h2 class="wow fadeIn" data-wow-delay="0.1s">Contact form</h2>
          <form [formGroup]="contactForm" o id="contact-form">
            <div class="contact-form-loader"></div>
            <fieldset>
              <label class="name form-div-1">
                <strong>Name*</strong>
                <input formControlName="name" type="text" name="name" placeholder="" value="" required/>
                <span *ngIf="contactForm.controls.name.dirty && contactForm.controls.name.errors?.required"
                      class="empty-message">*This field is required.</span>
              </label>
              <label class="email form-div-2">
                <strong>E-mail*</strong>
                <input formControlName="email" type="text" name="email" placeholder="" value="" email required/>
                <span *ngIf="contactForm.controls.email.dirty && contactForm.controls.email.errors?.required"
                      class="empty-message">*This field is required.</span>
                <span *ngIf="contactForm.controls.email.dirty && contactForm.controls.email.errors?.email"
                      class="error-message">*This is not a valid email.</span>
              </label>
              <label class="phone form-div-3">
                <strong>Phone</strong>
                <input formControlName="phone" type="text" name="phone" placeholder="" value=""/>
                <!--<span class="error-message">*This is not a valid phone.</span>-->
              </label>
              <label class="message form-div-4">
                <strong>Message*</strong>
                <textarea formControlName="message" name="message" placeholder="" required minlength="15"></textarea>
                <span *ngIf="contactForm.controls.name.dirty && contactForm.controls.message.errors?.required"
                      class="empty-message">*This field is required.</span>
                <span *ngIf="contactForm.controls.name.dirty && contactForm.controls.message.errors?.minlength"
                      class="error-message">*The message is too short.</span>
              </label>
              <div class="btns">
                <p>* required fields</p>
                <button [disabled]="contactForm.invalid" href="#" data-type="submit"
                        (click)="submitMessage()" class="btn-default btn4"><span></span>Submit
                </button>
              </div>
            </fieldset>
            <div bsModal #contactSuccessModal="bs-modal" class="modal fade response-message">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Modal title</h4>
                  </div>
                  <div class="modal-body">
                    You message has been sent! We will be in touch soon.
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
