<div class="container-fluid">
	<div class="col-md-3 sidebar">
		<div  (click)='switchModelType("charModel")'  class="tab" id="c"  >
		  <label for="tab-one" class="lbl_0" [ngClass]="selectedModelType === 'charModel'?'active-gen':'lbl_0'" >Character Models</label>
		  
		</div>
		<div (click)='switchModelType("gunModel")' [ngClass]="selectedModelType === 'gunModel'?'active-gen tab':'tab'" >
		  <label for="tab-two" class="lbl_0" >Gun Models</label>
		  
		</div>
		<div class="tab" (click)='switchModelType("terrainModel")'  [ngClass]="selectedModelType === 'terrainModel'?'active-gen tab':'tab'" >
		  <label for="tab-three" class="lbl_0">Terrain Models</label>
		  
		</div>
		
		<input type="button" value="Generate Game" id="GenGame">
	</div>

	<div class="col-md-9">
		<div class="heading">
			<input type="button" value="Delete" id="deleteBTN">
			Game Library
		</div>

		<div  *ngIf='selectedModelType=="charModel"' class="dabbe">
			<div  *ngFor="let model of charModels"  class="col-md-3">
				<input type="checkbox" class="checkB" id="c1">
				<label for="c1" class="lbl"></label>
				<img [src]="model.imageLink" style="height:200px" >
			</div>
		</div>

		
		<div  *ngIf='selectedModelType=="terrainModel"' class="dabbe">
			<div  *ngFor="let model of terrainModels"  class="col-md-3">
				<input type="checkbox" class="checkB" id="c1">
				<label for="c1" class="lbl"></label>
				<img [src]="model.imageLink" style="height:200px" >
			</div>
		</div>
		
		<div  *ngIf='selectedModelType=="gunModel"' class="dabbe">
			<div  *ngFor="let model of gunModels"  class="col-md-3">
				<input type="checkbox" class="checkB" id="c1">
				<label for="c1" class="lbl"></label>
				<img [src]="model.imageLink" style="height:200px" >
			</div>
		</div>
	</div>
</div>