<div class="container-fluid">
	<div class="col-md-3 sidebar">
		<div class="tab"  (click)='switchModelType("charModel")'>
		  <input id="tab-one" type="checkbox" name="tabs">
		  <label for="tab-one" class="lbl_0" style="background:#253443 !important;">Character Models</label>
		  
		</div>
		<div class="tab"  >
		  <input id="tab-two" type="checkbox" name="tabs">
		  <label for="tab-two" class="lbl_0" style="background:#253443 !important;">Gun Models</label>
		  
		</div>
		<div class="tab" (click)='switchModelType("terrainModel")' >
		  <input id="tab-three" type="checkbox" name="tabs">
		  <label for="tab-three" class="lbl_0" style="background:#253443 !important;">Terrain Models</label>
		  
		</div>
		
		<input type="button" value="Generate Game" id="GenGame">
	</div>

	<div class="col-md-9">
		<div class="heading">
			<input type="button" value="Delete" id="deleteBTN">
			Game Library
		</div>

		<div  *ngIf='selectedModelType=="charModel"' class="dabbe">
			<div  *ngFor="let model of charModels|async"  class="col-md-3">
				<input type="checkbox" class="checkB" id="c1">
				<label for="c1" class="lbl"></label>
				<img [src]="model.imageLink" style="height:200px" >
			</div>
		</div>

		
		<div  *ngIf='selectedModelType=="terrainModel"' class="dabbe">
			<div  *ngFor="let model of terrainModels|async"  class="col-md-3">
				<input type="checkbox" class="checkB" id="c1">
				<label for="c1" class="lbl"></label>
				<img [src]="model.imageLink" style="height:200px" >
			</div>
		</div>
		
		<div  *ngIf='selectedModelType=="gunModel"' class="dabbe">
			<div  *ngFor="let model of gunModels|async"  class="col-md-3">
				<input type="checkbox" class="checkB" id="c1">
				<label for="c1" class="lbl"></label>
				<img [src]="model.imageLink" style="height:200px" >
			</div>
		</div>
	</div>
</div>