<div class="container-fluid">
	<div class="col-md-3 sidebar">
		<div class="tab">
		  <input id="tab-one" type="checkbox" name="tabs">
		  <label for="tab-one" class="lbl_0" style="background:#253443 !important;">Character Models</label>
		  <div class="tab-content">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>
		  </div>
		</div>
		<div class="tab">
		  <input id="tab-two" type="checkbox" name="tabs">
		  <label for="tab-two" class="lbl_0" style="background:#253443 !important;">Gun Models</label>
		  <div class="tab-content">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>
		  </div>
		</div>
		<div class="tab">
		  <input id="tab-three" type="checkbox" name="tabs">
		  <label for="tab-three" class="lbl_0" style="background:#253443 !important;">Terrain Models</label>
		  <div class="tab-content">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>
		  </div>
		</div>
	</div>

	<div class="col-md-9">
		<div class="heading">
			<input type="button" value="Delete" id="deleteBTN">
			Game Library
		</div>
		<div class="dabbe">
			<div class="col-md-3">
				<input type="checkbox" class="checkB" id="c1">
				<label for="c1" class="lbl"></label>
			</div>
			<div class="col-md-3">
				<input type="checkbox" class="checkB" id="c2">
				<label for="c2" class="lbl"></label>
			</div>
			<div class="col-md-3">
				<input type="checkbox" class="checkB" id="c3">
				<label for="c3" class="lbl"></label>
			</div>
			<div class="col-md-3">
				<input type="checkbox" class="checkB" id="c4">
				<label for="c4" class="lbl"></label>
			</div>
			
			<div class="col-md-3">
				<input type="checkbox" class="checkB" id="c5">
				<label for="c5" class="lbl"></label>
			</div>
			<div class="col-md-3">
				<input type="checkbox" class="checkB" id="c6">
				<label for="c6" class="lbl"></label>
			</div>
			<div class="col-md-3">
				<input type="checkbox" class="checkB" id="c7">
				<label for="c7" class="lbl"></label>
			</div>
			<div class="col-md-3">
				<input type="checkbox" class="checkB" id="c8">
				<label for="c8" class="lbl"></label>
			</div>
		</div>
	</div>
</div>