.terrain-wrap{
  position: relative;

}

.modal-unity{
  position: absolute;
  left: 16px;
  right: 80px;
  top: 52px;
  bottom: 40px;
  background: #253443;
  //display: -webkit-box;
  //display: -ms-flexbox;
  display: none;
}

.container-unity{
  color: #FFF;
  padding-right: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  canvas{
    width: 100% !important;
    height: 100% !important;
  }

  > div {

    color: #FFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex:1;

    > .col-md-2{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center;
    }
  }
}