/* You can add global styles to this file, and also import other style files */

$icon-font-path: '/assets/fonts/';
$fa-font-path: '/assets/fonts/font-awesome/fonts';
@import "~bootstrap-sass/assets/stylesheets/_bootstrap";
@import "assets/fonts/font-awesome/scss/font-awesome";
@import "animate";
@import "styles/colors";
@import "assets/css/addslider.css";
@import "~nouislider/distribute/nouislider.min.css";
@font-face {
    font-family: "Lato2OFL";
    src: url('assets/fonts/Lato2OFL/Lato-Regular.ttf')
}

.logo_box {
    font: 70px "Lato2OFL" !important;
    div {
        color: white;
        font-size: 70px;
    }
    .secondary {
        font-size: 20px;
    }
}

h3 {
    font: 20px/1em 'Questrial';
    color: #e46b86;
    letter-spacing: 1px;
    margin: 0 0 19px 0;
    font-weight: 500;
    line-height: 1.1;
    font-size: 24px;
}
.delete-selected {
  padding: 5px 5px !important;
  width: 16%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  font-weight: 400;
  text-align: center;
  border: 1px solid #008aff;
  border-radius: 30px;
  color: #fff;
  background: #253443 none;
  transition: all 0.2s ease-in-out;
}


.popup{
  display:none;
  position:fixed;
  z-index:1;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.4);
  padding: 0px;
  margin: 0px;
}

span.property-name {
    text-align: left !important;
}

.content.indent {
    padding: 53px 0 0 0;
    //background-image: url(assets/images/contactus.jpg) !important;
}

.modal-backdrop.fade {
    opacity: 0.7;
}

.fade.show {
    opacity: 1;
}

ngb-modal-window {
    opacity: 0.7;
}

html body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333;
    background-color: $background-color;
    height: 100%;
}

.main {
    background: none !important;
}

.zodiacCont {
  .box-video {
    width: 19%;
    margin-right: 7px;
    background: $home-box-color;
    display: inline-block;
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 10px;
  }
  .box-image {
  }
}

.zodiac_box {
    margin-bottom: 250px !important;
}

.content.indent {
    padding-bottom: 250px !important;
}

.zodiac_box .box-video>div {
    padding: 45px 35px 0 35px;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.35s;
    opacity: 0;
    background-color: transparent;
}

.zodiac_box .clust:hover>div {
    background-color: #1f2933;
    transition: all 0.35s;
    opacity: 0.85;
}

.clust div a:nth-child(1) {
    float: left;
}

.clust div a:nth-child(2) {
    float: right;
}

.animation-name {
    color: white;
    padding-top: 5px;
}

.download-anim {
    float: left;
}

.library-checkbox {
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 35px;
    float: right;
}

a:hover, a:focus {
  text-decoration: none;
}
.pagination {
  .page-item {
    .page-link {
      background-color: $home-box-color !important;
      border: 1px solid grey !important;
      color: grey !important;
    }

    &.active {
      .page-link {
        background-color: $home-box-color !important;
        border: 1px solid grey !important;
        color: $blue !important;
      }
    }
  }

}

.modal-backdrop {
  opacity: 0.7 !important;
}
