@import "../../../styles/variables";
@import "../../../styles/colors";
h1.navbar-brand_ {
 margin:0 0 44px 0;
 padding:0;
 float:none;
 height:auto;
 position:relative;
 display:inline-block;

   a {

     img {
      width:48%;

    }

  }

}

 .navbar-brand {
 font-size:1.25rem;
 line-height:inherit;
 white-space:nowrap;

}

 .navbar {
 position:relative;
 display:flex;
 -webkit-box-orient:vertical;
 -webkit-box-direction:normal;
 -ms-flex-direction:column;
 flex-direction:column;

}

 .nav {
 display:flex;
 padding-left:0;
 margin-bottom:0;
 list-style:none;

}

 .logo_box {
 text-align:center;
 padding:54px 0 0 0;
 background:$home-box-color url(/assets/images/glow2.png) center bottom no-repeat;

}
