.wrapper--gun {
  padding: 0 15px;
}
.gun-wrapper {
  padding-top: 15px;
  position: relative;
  height: 100vh;
  color: #fff;
}

.gun-sidebar {
  padding: 0;
  background-color: #253443;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  .open {
    display: block;
  }
  .active-gen {
    background-color: #105a9b;
  }
}

.gun-options {
  padding: 0;
  margin: 0 0 15px 0;
  list-style: none;
  
  h4 {
    margin: 0;
    font-size: 16px;
    color: #0287f9;
    font-weight: 500;
  }
  li {
    padding: 12px 15px;
    color: #fff;
    border-bottom: 1px solid #303d4c;
    cursor: pointer;
    &:hover {
      background-color: lighten(#253443, 20%);
    }
  }
  a {
    padding-left: 20px;
    color: #fff;
    &:hover {
      text-decoration: none;
    }
  }
  &--texture {
    li {
      border: none;
      background-color: #212c39;
    }
    h4 {
      color: white;
      text-align: center;
    }
  }
}

.gun-content {
  &__title {
    padding: 10px 10px;
    font-size: 16px;
    color: #fff;
    background-color: #253443;
    text-align: center;
    margin-bottom: 15px;
    box-sizing: border-box;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    &--gun-part {
      text-align: left;
      border-bottom: 1px solid #303d4c;
      margin-bottom: 0;
    }
  }
  &__inner {
    // padding-top: 15px;
  }
  &__item {
    position: relative;
    margin-bottom: 15px;
    button {
      overflow: hidden;
      color: #fff;
      background: transparent;
      border: 1px solid #555;
      border-radius: 5px;
      outline: none;
      &:hover {
        background: rgba(#000, .2);
      }
    }
    &:hover {
      .gun-content__item-overlay {
        opacity: 1;
      }
    }
  }
  &__item-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
  }
  &__item-img {
    width: 100%;
  }
  &__item-play {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    position: absolute;
    top: 0;
    width: 100%;
    button {
      width: 30px;
      height: 30px;
      padding: 0;
      font-size: 20px;
    }
  }
  &__item-actions {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 2px;
    button {
      width: 49%;
      padding: 5px;
    }
  }
  &__gun-part-items {
    background: #253443;
    padding: 15px 7px;
    display: flex;
  }
  &__gun-part-item {
    background: #1c252f;
    display: block;
    width: 110px;
    height: 110px;
    margin: 0 4px;
  }
  &__auto-texturing-inner {
    background: #1c252f;
    text-align: center;
    padding: 30px 60px;
    margin-bottom: 5px;
    img {
      max-width: 100%;
    }
  }
  &__auto-texturing-button {
    background: #216c99;
    color: #fff;
    text-align: center;
    padding: 10px;
    display: block;
  }
}

.gun-uper-receiver-wrapper {
  padding: 0;
}
.gun-uper-receiver {
  background: #253443;
  overflow: hidden;
  border-bottom: 1px solid #303d4c;
  &__row {
    width: 100%;
  }
  &__col {
    width: 50%;
    float: left;
  }
  &__title {
    padding: 15px;
    box-sizing: border-box;
    line-height: 1;
    border-bottom: 1px solid #303d4c;
  }
  &__item {
    padding-top: 100%;
    position: relative;
  }
  &__item-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 8px;
    top: 0;
    left: 0;
  }
  &__item-content {
    background-color: #1c252f;
    height: 100%;
    width: 100%;
  }
}

.new-gun-texture {
  background: #253443;
  &__title {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #303d4c;
    background-color: #212c39;
    margin-bottom: 15px;
  }
  &__inner {
    text-align: center;
    border-bottom: 1px solid #303d4c;
    padding-bottom: 15px;
  }
  &__item {
    display: inline-block;
    width: 160px;
    height: 160px;
    background-color: #1c252f;
  }
  &__button-section {
    padding: 15px;
  }
  &__button {
    display: block;
    text-align: center;
    border: 2px solid  rgb(33, 174, 254);
    border-radius: 1000px;
    color: #fff;
    padding: 10px;
  }
}

.full-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 100%;
  background-color: lighten(#1c252f, .5);
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  &:hover {
    background-color: lighten(#1c252f, 10%);
  }
  &.is-active {
    right: 100%;
    left: 15px;
    a {
      transform: rotate(180deg);
    }
  }
  span {
    margin: 35px;
    font-size: 14px;
    transform: rotate(-90deg);
  }
  a {
    color: #fff;
  }
}

.is-hidden {
  display: none;
}