<div class="main_wapper wrapper wrap">
  <div class="row gun-wrapper">
    <div class="col-md-2 gun-sidebar">
      <ul class="gun-options">
        <li>
          <a class="expand">
            <h4>Gun</h4>
          </a>

        </li>
        <li>
          <a href="#">
                    Sniper
                </a>
        </li>
        <li>
          <a href="#">
                    Shot Gun
                </a>
        </li>
        <li>
          <a href="#">
                    Rifle
                </a>
        </li>
        <li>
          <a href="#">
                    Handgun
                </a>
        </li>
      </ul>
      <ul class="gun-options gun-options--texture"> 
        <li>
          <a href="#" class="expand">
            <h4>
              Texture
            </h4>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-10">
      <div class="gun-content">
        <div class="gun-content__title">
          Machine Pistol
        </div>
        <div class="gun-content__inner">
          <div class="row" *ngIf="isGun">
            <div class="col-md-3">
              <div class="gun-content__item">
                <img src="http://assets.academy.com/mgen/27/10818727.jpg?is=500,500" alt="Gun" class="gun-content__item-img">
                <div class="gun-content__item-overlay">
                  <div class="gun-content__item-play">
                    <button>
                        <i aria-hidden="true" class="fa fa-play"></i>
                    </button>
                  </div>
                  <div class="gun-content__item-actions">
                    <button>Add to library</button>
                    <button>Add to game</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="gun-content__item">
                <img src="http://assets.academy.com/mgen/27/10818727.jpg?is=500,500" alt="Gun" class="gun-content__item-img">
                <div class="gun-content__item-overlay">
                  <div class="gun-content__item-play">
                    <button>
                        <i aria-hidden="true" class="fa fa-play"></i>
                    </button>
                  </div>
                  <div class="gun-content__item-actions">
                    <button>Add to library</button>
                    <button>Add to game</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="gun-content__item">
                <img src="http://assets.academy.com/mgen/27/10818727.jpg?is=500,500" alt="Gun" class="gun-content__item-img">
                <div class="gun-content__item-overlay">
                  <div class="gun-content__item-play">
                    <button>
                        <i aria-hidden="true" class="fa fa-play"></i>
                    </button>
                  </div>
                  <div class="gun-content__item-actions">
                    <button>Add to library</button>
                    <button>Add to game</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="gun-content__item">
                <img src="http://assets.academy.com/mgen/27/10818727.jpg?is=500,500" alt="Gun" class="gun-content__item-img">
                <div class="gun-content__item-overlay">
                  <div class="gun-content__item-play">
                    <button>
                        <i aria-hidden="true" class="fa fa-play"></i>
                    </button>
                  </div>
                  <div class="gun-content__item-actions">
                    <button>Add to library</button>
                    <button>Add to game</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="gun-content__item">
                <img src="http://assets.academy.com/mgen/27/10818727.jpg?is=500,500" alt="Gun" class="gun-content__item-img">
                <div class="gun-content__item-overlay">
                  <div class="gun-content__item-play">
                    <button>
                        <i aria-hidden="true" class="fa fa-play"></i>
                    </button>
                  </div>
                  <div class="gun-content__item-actions">
                    <button>Add to library</button>
                    <button>Add to game</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="gun-content__item">
                <img src="http://assets.academy.com/mgen/27/10818727.jpg?is=500,500" alt="Gun" class="gun-content__item-img">
                <div class="gun-content__item-overlay">
                  <div class="gun-content__item-play">
                    <button>
                        <i aria-hidden="true" class="fa fa-play"></i>
                    </button>
                  </div>
                  <div class="gun-content__item-actions">
                    <button>Add to library</button>
                    <button>Add to game</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="gun-content__item">
                <img src="http://assets.academy.com/mgen/27/10818727.jpg?is=500,500" alt="Gun" class="gun-content__item-img">
                <div class="gun-content__item-overlay">
                  <div class="gun-content__item-play">
                    <button>
                        <i aria-hidden="true" class="fa fa-play"></i>
                    </button>
                  </div>
                  <div class="gun-content__item-actions">
                    <button>Add to library</button>
                    <button>Add to game</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="gun-content__item">
                <img src="http://assets.academy.com/mgen/27/10818727.jpg?is=500,500" alt="Gun" class="gun-content__item-img">
                <div class="gun-content__item-overlay">
                  <div class="gun-content__item-play">
                    <button>
                        <i aria-hidden="true" class="fa fa-play"></i>
                    </button>
                  </div>
                  <div class="gun-content__item-actions">
                    <button>Add to library</button>
                    <button>Add to game</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
