<div class="model-intro">
    The 3D modelling tool provides you capabilities to create diverse range of guns, characters and enemies.
    <br> You can make them and add them to your library for later use or directly add them to your game.
    <br> following video walks you through the tools and the functionalities within.
    <br>video link

    <br>If you want to continue and explore the tool further, press Start Session.<br>
    <button class="button" onclick="window.location.href='/game-maker'">Start Session</button>
</div>