.collapse {
	display: none
}
.collapse.show {
	display: block
}
tr.collapse.show {
	display: table-row
}
tbody.collapse.show {
	display: table-row-group
}
.collapsing {
	position: relative;
	height: 0;
	overflow: hidden;
	-webkit-transition: height .35s ease;
	-o-transition: height .35s ease;
	transition: height .35s ease
}
.dropdown, .dropup {
	position: relative
}
.dropdown-toggle::after {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: .3em;
	vertical-align: middle;
	border-top: .3em solid;
	border-right: .3em solid transparent;
	border-left: .3em solid transparent
}
.dropdown-toggle:focus {
	outline: 0
}
.dropup .dropdown-toggle::after {
	border-top: 0;
	border-bottom: .3em solid
}
.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 10rem;
	padding: .5rem 0;
	margin: .125rem 0 0;
	font-size: 1rem;
	color: #292b2c;
	text-align: left;
	list-style: none;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: .25rem
}
.dropdown-divider {
	height: 1px;
	margin: .5rem 0;
	overflow: hidden;
	background-color: #eceeef
}
.dropdown-item {
	display: block;
	width: 100%;
	padding: 3px 1.5rem;
	clear: both;
	font-weight: 400;
	color: #292b2c;
	text-align: inherit;
	white-space: nowrap;
	background: 0 0;
	border: 0
}
.dropdown-item:focus, .dropdown-item:hover {
	color: #1d1e1f;
	text-decoration: none;
	background-color: #f7f7f9
}
.dropdown-item.active, .dropdown-item:active {
	color: #fff;
	text-decoration: none;
	background-color: #0275d8
}
.dropdown-item.disabled, .dropdown-item:disabled {
	color: #636c72;
	cursor: not-allowed;
	background-color: transparent
}
.show>.dropdown-menu {
	display: block
}
.show>a {
	outline: 0
}
.dropdown-menu-right {
	right: 0;
	left: auto
}
.dropdown-menu-left {
	right: auto;
	left: 0
}
.dropdown-header {
	display: block;
	padding: .5rem 1.5rem;
	margin-bottom: 0;
	font-size: .875rem;
	color: #636c72;
	white-space: nowrap
}
.dropdown-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 990
}
.dropup .dropdown-menu {
	top: auto;
	bottom: 100%;
	margin-bottom: .125rem
}

.block_img{

max-width: 100px;
height:100px;
}
.head-detail-block{

	height:120px;
}


.btn-panel_btn{

    margin-right: 20px;

}
.btn-panel{

    padding: 5px;
    text-align:right;
}

.block.active{

    border:1px solid white;

}



.full-btn.left{

	float: left;
	position:relative;
	left:0px;
	z-index: 10;
	height: 110px
}

.full-btn.right{
	position: relative;
	z-index: 10;
	height:100px
}


.head-detail-block-scroll-container{
overflow:hidden;
position: absolute; 
}

.scroller-content{
	position:relative;
	left:0;
	top:-10px;
	width:1000px;
}

#Sidebar{

	width:20%;
	z-index: 10;

}
#RSidebar{

	width:20%;
	z-index: 1000;
}
#content-wrapper{

	padding-left: 21%;
	width:102%;
	
}


.object-container-dna .block-object{

	min-height:250px;
}

@media screen and (max-width: 720px) {
 
.object-container-dna .block-object img{
	padding:0px;
width:25%;
}

}


@media screen and (min-width: 721px) {
 
.object-container-dna .block-object img{
	padding:0px;
width:25%;
}

}


.head-detail-block .block{

	width:110px;
	height:110px;
	min-height: 110px;
}
.rangeSlider_block .block{

	min-height: 100px;
}
.rangeSlider_block{

	margin:10px 0px 0px 10px;
	width:110px;
	height:110px;
}


.shuffle-btn a{
    background: #008aff;
    color: #fff;
    width: 45%;
    float: left;
    padding: 10px 0;
    text-align: center;
}
.shuffle-btn a:hover{
    background: #008aff;
    color: #fff;
    float: left;
    text-decoration: none;
}

#genButton{


	margin-right: 10%
}
